.title {
  font-family: 'Igra Sans', sans-serif; 
  color: var(--color-accent);
}

.case {
  background-color: var(--color-additional-2);
  flex: 1;
  flex-direction: column;
  border: 2px solid transparent;
  transition: all .2s ease;
  text-decoration-thickness: 1px;
  
}

.case:hover {
  border: 2px solid #7001FE;
}

.separator {
  content: '';
  width: 100%;
}

.link {
  background-color: var(--color-accent-2);
  transition: all .3s ease-out;
  stroke: #0B0A0A;
}

.link:hover {
  background-color: var(--color-accent);
  color: var(--color-main);
  stroke: var(--color-main);

}

.case:hover .subtitle {
  text-decoration: underline;
}

.case:hover .text {
  text-decoration: underline;
  text-decoration-color: var(--color-additional-3);
}

.text {
  color: var(--color-additional-3);
}

.CTA {
  background-color: var(--color-accent-2);
}

.CTAButton {
  transform: scale(0.8) translate(-50px, 0);
}