.button {
	width: 100%;

	background-color: var(--color-accent-2);
	border-radius: 150px;
	position: relative;
}

.text {
	z-index: 2;
	position: absolute;
	user-select: none;
	font-weight: 500;
	text-transform: uppercase;
}

.action {
	position: absolute;
	background-color: var(--color-main);
	z-index: 0;
	right: 0;
	top: 0;
	border-radius: 150px;

	display: flex;
	align-items: center;
	justify-content: end;

	transition: 0.3s ease-out;
}

.arrowCircle {
	position: absolute;
	border-radius: 50%;
	transition: 0.3s ease-out;
}

.button:hover .action,
.button:target .action {
	width: 100%;
}

.button:hover .action .arrowCircle,
.button:target .action .arrowCircle {
	width: 100%;
	width: 40px;
	height: 40px;
	right: 11px;
	top: 12px;
	transform: rotate(90deg);
}

@media (min-width: 1024px) {
	.button:hover .action .arrowCircle,
	.button:target .action .arrowCircle {
		right: 20px;
		top: 20px;
	}
}