.screen {
  background-color: #1C1C1C;
  border-radius: 35px;
}

.title {
  color: var(--color-accent);
}

.subtitle {
  color: var(--color-main);
}

.pain {
  border: 2px solid #606356;
  background: #2C2C2C80;
  box-shadow: 0px 0px 36.5px -12px #FFFFFF40 inset;
  border-radius: 82px;
  color: var(--color-additional-2);

  display: flex;
  z-index: 9;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.painCircle {
  background: #61616133;
  border: 1px solid #6F6F6F;
  padding: 15px;
}

.solution {
  border: 2px solid var(--color-accent-2);
  background: var(--color-accent-2);
  border-radius: 82px;
  color: var(--color-additional);

  display: flex;
}

.solutionCircle {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 20px;
}

.getCard {
  background: #2F2E32;
  border-radius: 35px;
}

.getBox {
  border: 1px solid #606356;
  padding: 30px;
  background: #23222580;
  border-radius: 35px;
}

.result {
  color: var(--color-main);
}
.markerResult {
  content: '';
  background-color: var(--color-accent-2);
  width: 10px;
  display: block;
  margin-right: 30px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-background {
  position: relative;
  overflow: hidden;
}

.rotating-background::before {
  content: '';
  position: absolute;
  background-size: contain; /* Или другое значение в зависимости от вашего требования */
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center;
  animation: rotate 75s linear infinite;
}