@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Igra Sans';
  src: url('../fonts/IgraSans/IgraSans.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilory/Gilroy.otf');
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilory/Gilroy-SemiBold.ttf');
  font-style: normal;
}
/* @font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilory/Gilroy-ExtraBold.otf');
  font-style: 'bold';
} */

@font-face {
  font-family: 'Onest';
  src: url('../fonts/IgraSans/IgraSans.otf');
  font-style: normal;
}

/*
@font-face {
  font-family: "Igra Sans";
  src: url('../fonts/rubik/Rubik-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}  */

:root {
  --foreground-rgb: 0, 0, 0;

  --color-accent: rgb(112, 1, 254);
  --color-accent-2: rgb(143, 254, 1);
  --color-additional-4: rgb(47, 46, 50);
  --color-white: rgb(255, 255, 255);
  --color-main: rgb(242, 242, 242);
  --color-additional: rgb(11, 10, 10);
  --color-additional-2: rgb(243, 243, 243);
  --color-additional-3: rgb(82, 80, 80);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-main);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section {
  margin: 10px 0;
}

.font-Gilroy {
  font-family: "Gilroy";
}

.font-IgraSans {
  font-family: "Igra Sans";
}

.font-Onest {
  font-family: "Onest";
}