.screen {
  background-color: var(--color-white);
  border-radius: 35px;
}

.slash {
  height: 12px;
  width: 0.5px;
  background-color: black;
}

.selectPage {
  background-color: #8FFE01;
  border-radius: 50%;
}